<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="84E2F343-6F6A-4575-B215-1F512598A2E3" Language="1033"
         Manufacturer="Bob -- K6RWY" Name="ICS_214a"
         Version="!(bind.fileVersion.ICS_214a.cmp)"
         >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
           Manufacturer="Bob -- K6RWY" Description="Installs ICS_214a"
           Comments="Copyright (c) Bob -- K6RWY"
           />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="ICS_214aIcon.ico" SourceFile="$(var.SolutionDir)..\ICS_214a.prj\res\ICS_214a.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="ICS_214aIcon.ico" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="ICS_214a.ftr"/>
    <ComponentGroupRef Id="UninstallICS_214a.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="ICS_214a.ftr">
  <ComponentRef Id="ICS_214a.cmp"/>
  <ComponentRef Id="Help.cmp"/>
</ComponentGroup>
<ComponentGroup Id="UninstallICS_214a.ftr">
  <ComponentRef Id="UninstallICS_214a.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="ICS_214a.pff" Name="ICS_214a" />
    </Directory>

    <Directory Id="ProgramMenuFolder" Name="StartMenu">
      <Directory Id="ICS_214a.pmf" Name="ICS_214a" />
    </Directory>

    <Directory Id="DesktopFolder" Name="Desktop" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="ICS_214a" />
  <Property Id="WIXUI_INSTALLDIR"      Value="ICS_214a.pff"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="ICS_214a.cmp"  Guid="D57C0B21-BAFF-42B7-B6E7-4FBE1BDCE971" Directory="ICS_214a.pff">
    <File Id="ICS_214a.cmp" Source="$(var.SolutionDir)..\Release\ICS_214a.exe" KeyPath="yes"/>

    <Shortcut Id               = "ICS_214a.shc"
              Name             = "ICS_214a"
              Description      = "Activity Log"
              Advertise        = "yes"
              Directory        = "ICS_214a.pmf"
              WorkingDirectory = "ICS_214a.pff"
              Icon             = "ICS_214aIcon.ico"
              />

    <Shortcut Id               = "ICS_214a.dsk"
              Name             = "ICS_214a"
              Description      = "Activity Log"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "ICS_214a.pff"
              Icon             = "ICS_214aIcon.ico"
              />
  </Component>

  <Component Id="Help.cmp"  Guid="0FE7336D-58C6-4649-8BCB-7B728890E984" Directory="ICS_214a.pff">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\ICS_214a.chm" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="UninstallICS_214a.cmp" 
                                Guid="612327D3-CE35-4B57-A0E3-72857E3767B5" Directory="ICS_214a.pmf">

    <Shortcut Id               = "UninstallICS_214a.shc"
              Name             = "Uninstall ICS_214a"
              Description      = "Uninstalls ICS_214a"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "ICS_214aIcon.ico"
              />
    <RemoveFolder Id="ICS_214a.uni" Directory="ICS_214a.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\UninstallICS_214a.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
